$primaryColor: rgb(253, 31, 31);
$fontFamily: sans-serif;
$textColor: black;
*
{
    font-family: $fontFamily;
    font-weight: bold;
    padding: 0;
    border: 0;
}

hr
{
    height: 1vh;
    width: 55%;
    border: none;
    margin: 2vh 0;
    background-color: $primaryColor;
}

header
{
    color: $textColor;
    margin-top: 3vh;

    h1
    {
        font-size: 3vw;
        margin-left: 5vw;
    }

    h2
    {
        font-size: 1.5vw;
        margin-left: 5vw;
    }
}

#info
{
    font-family: $fontFamily;
    color: $textColor;
    position: absolute;
    bottom: 4vh;
    left: 6vw;
    display: flex;
    align-items: center;

    i
    {
        font-size: 3vw;
        color: $primaryColor;
        padding-right: 1vw;
    }

    p
    {
        font-size: 1vw;
    }
}

.container
{
    height: 80%;
    bottom: 0;
    display: flex;
    position: absolute;

    .dropZone
    {
        width: 50%;
        padding: 3em 5em;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    #dropZone2
    {
        background-color: $primaryColor;
    }
}

.box
{
    z-index: 1;
    font-size: 1.5vw;
    color: $textColor;
    text-align: center;

    height: 1em;
    width: 2em;
    margin: 0.5em 0.5em;
    padding: 0.7em 4em;
    border: 5px solid white;

    float: left;
    display: inline-block;

    background-color: #dbdbdb;
    box-shadow: 1px 2px 5px 1px rgba(114, 113, 113, 0.31);
    cursor: move;
}


