* {
  font-family: sans-serif;
  font-weight: bold;
  padding: 0;
  border: 0;
}

hr {
  height: 1vh;
  width: 55%;
  border: none;
  margin: 2vh 0;
  background-color: #fd1f1f;
}

header {
  color: black;
  margin-top: 3vh;
}

header h1 {
  font-size: 3vw;
  margin-left: 5vw;
}

header h2 {
  font-size: 1.5vw;
  margin-left: 5vw;
}

#info {
  font-family: sans-serif;
  color: black;
  position: absolute;
  bottom: 4vh;
  left: 6vw;
  display: flex;
  align-items: center;
}

#info i {
  font-size: 3vw;
  color: #fd1f1f;
  padding-right: 1vw;
}

#info p {
  font-size: 1vw;
}

.container {
  height: 80%;
  bottom: 0;
  display: flex;
  position: absolute;
}

.container .dropZone {
  width: 50%;
  padding: 3em 5em;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.container #dropZone2 {
  background-color: #fd1f1f;
}

.box {
  z-index: 1;
  font-size: 1.5vw;
  color: black;
  text-align: center;
  height: 1em;
  width: 2em;
  margin: 0.5em 0.5em;
  padding: 0.7em 4em;
  border: 5px solid white;
  float: left;
  display: inline-block;
  background-color: #dbdbdb;
  box-shadow: 1px 2px 5px 1px rgba(114, 113, 113, 0.31);
  cursor: move;
}

